h1 {
    color: white;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    background-color: rgb(234, 237, 238);
    padding-bottom: 15px;
    padding-top: 15px;
}

#main-content {
    padding-top: 10px;
}

#current-card {
    margin-bottom: 30px;
}

#current-info {
    font-size: 1.2rem;
}

h2 {
    margin-bottom: 25px;
}

.forecast-card {
    margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    #main-content {
        padding-right: 25px;
        padding-left: 10px
    }

    #sidebar {
        padding-left: 25px;
    }
}

@media only screen and (min-width: 918px) {
    .forecast-card {
        margin-bottom: 0px;
    }
}

